.leftward { margin-left:0 !important }
fieldset.settings { margin:10px 0; padding:0 5px 5px 5px; max-width:60em; }
fieldset.settings legend { padding:5px; }

table.leftside {
 padding:3px;
 border-spacing:0;
 margin-left:0;
 width:auto
}

/* CRAPPY one-eleven theme doesn't have 'admin-tooltip' classes */
a.admin-tooltip {
 text-decoration: none;
}
a.admin-tooltip span {
 display:none;
 background: #fff;
 color: #6c6c6c;
 border:1px solid #aaa;
 padding:3px 5px;
 max-width:20%;
 width:auto; /* override any ancestor */
 line-height:1.1;
}
a.admin-tooltip:hover span {
 display:inline;
 position:absolute;
}
a img {
 border-style:none !important;
 vertical-align:middle;
}
input.seocb { width:20px; }
