table.pagetable { padding: 3px; margin-left:5%; width:auto; table-layout:auto; }
p.pagetext { margin-top:0.5em; margin-bottom:0.5em; }
/* CRAPPY one-eleven theme doesn't have 'admin-tooltip' classes */
a.admin-tooltip {
 text-decoration: none;
}
a.admin-tooltip:hover {
 background: #fff;
}
a.admin-tooltip span {
 display: none;
 padding: 2px 3px;
 margin-left: 8px;
 min-width: 3em;
 max-width: 20%;
 font-weight: bold;
}
a.admin-tooltip:hover span {
 display: inline;
 position: absolute;
 border: 1px solid #ccc;
 background: #fff;
 color: #6c6c6c;
}
a img {
 border-style: none !important;
 vertical-align:middle;
}
input.seocb { width:20px; }
