table.pagetable { padding:3px; border-spacing:0; margin-left:0; width:auto }
p.pagetext { margin-top:0.5em; margin-bottom:0.5em; }
/* CRAPPY one-eleven theme doesn't have 'admin-tooltip' classes */
a.admin-tooltip {
 text-decoration: none;
}
a.admin-tooltip:hover {
 background: #fff;
}
a.admin-tooltip span {
 display: none;
 padding: 3px 5px;
 max-width: 20%;
 width: auto; //override any upstream
}
a.admin-tooltip:hover span {
 display: inline;
 position: absolute;
 border: 1px solid #000;
 background: #fff;
 color: #6c6c6c;
}
a img {
 border-style: none !important;
 vertical-align:middle;
}
input.seocb { width:20px; }
